/* Imports the fonts and a general style */
@import url("../assets/fonts/fonts.css");
@import url("./generalStyle.css");

/* Element used to put the background */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../assets/img/backgroud.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  opacity: 0.2;
  filter: blur(5px);
  z-index: -1;
}

header {
  background-color: #0ccaba;
  margin-bottom: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 98.7%;
  background-image: 
    linear-gradient(135deg, rgba(43, 110, 210, 0.15) 25%, transparent 25%), 
    linear-gradient(225deg, rgba(43, 111, 210, 0.15) 25%, transparent 25%), 
    linear-gradient(45deg, rgba(43, 110, 210, 0.15) 25%, transparent 25%), 
    linear-gradient(315deg, rgba(43, 111, 210, 0.15) 25%, rgba(246, 242, 255, 0.15) 25%);
  background-size: 91px 91px;
  background-position: 45.5px 0px, 45.5px 0px, 0px 0px, 0px 0px;
  background-repeat: repeat;
}



#bProfile {
  background-color: #98d9fc;
}

#bProfile:hover {
  background-color: #77a9c4;
}

#bCloSess {
  background-color: #fa9b9f;
}

#bCloSess:hover {
  background-color: #bb7174;
}

/* Nav size in the page */
.nav {
  display: flex;
  flex-direction: row;

  /*Centers the content*/
  justify-content: center;
  align-items: center;
  
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.content {
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
}


/* Rewrites the responsive design */
@media (max-width: 1024px) {
  .nav {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .optionContainer {
    flex-direction: column;
    align-items: center;
  }

  .optionContainer img {
    width: 40px;
    height: 40px;
  }

  .optionContainer button {
    padding: 15px;
    font-size: small;
  }
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
    height: auto;
    padding: 15px;
  }

  .nav {
    width: 100%;
    margin: 0;
  }

  .navProfile {
    margin-right: 0;
  }

  .optionContainer {
    flex-direction: column;
    align-items: center;
  }

  .content {
    flex-direction: column;
    margin: 20px;
  }

  footer {
    font-size: small;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 10px;
  }

  .optionContainer img {
    width: 30px;
    height: 30px;
  }

  .optionContainer button {
    padding: 10px;
    font-size: small;
  }

  .content {
    margin: 10px;
  }

  footer {
    font-size: x-small;
  }
}
